<div class="question-form-container">
  <div>
    <h2> <%= t('questions.community_variety')%> <%=@community.variety.name %><h2>
    <p><%= @community.description %></p>
    <hr class="question-community-delimiter">
  </div>
  <h2><%= t('questions.ask')%></h2>
  <%= form_with url: community_questions_path(@community), model: @question do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.rich_text_area :content %>
    <%= f.submit t('answers.submit'), class: 'btn btn-success'%>
  <% end %>
  <div class="direct-back">
    <%= link_to t('questions.go_back_questions'), community_questions_path(@community), class: "btn" %>
  </div>
</div>
