<script>
  const geo_not_supported = "<%= t("landing_page.geo_not_supported") %>"
  const error_location = "<%= t("landing_page.error_location") %>"
  const visit_garden = "<%= t("garden.visit_garden") %>"
</script>
<div id="right-veggie" style="background-image: url(<%= image_path @img1 %>);"></div>
<div id="left-veggie" style="background-image: url(<%= image_path @img2 %>);"></div>
<div class="columns">
  <div class="column col-1 flex-centered lp_pics">
    <i class="fas fa-carrot"></i>
    <i class="fas fa-pepper-hot"></i>
  </div>
  <div class="hero hero-sm column col-10 title_main">
    <div class="hero-body flex-centered">
      <h1><%= t('landing_page.app_title').titleize %></h1>
      <p class="p_subtitle"><%= t('landing_page.slogan').capitalize %></p>
      <div class="columns below_title">
        <%= form_with(url: "/communities/search_veggie", method: "get", local: true) do %>
          <div class="input-group">
            <div class="has-icon-left has-icon-right">
              <i class="form-icon icon icon-arrow-right"></i>
              <div class="form-group">
                <div class="form-autocomplete">
                  <input type="text" id="find-favorite" name="find-favorite" class="form-input form-autocomplete-input input-lg"
                         placeholder="<%= t('landing_page.look_for_veggie').capitalize %>">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary input-group-btn btn-lg">
              <i class="icon icon-search"></i>
            </button>
          </div>
        <% end %>
      </div>
      <i id="blinking" class="icon icon-arrow-down"></i>
    </div>
  </div>
  <div class="column col-1 flex-centered lp_pics">
    <i class="fas fa-apple-alt"></i>
    <i class="fas fa-lemon"></i>
  </div>
</div>
<div id="first-slide" class="columns p_info_1">
  <div class="column col-6">
    <h2><%= t('landing_page.info1_title') %></h2>
    <p>
      <%= t('landing_page.what_is_jda1') %>
    </p>
    <p>
      <%= t('landing_page.what_is_jda2') %>
    </p>
  </div>
  <div class="column col-6">
    <div class="column">
      <div class="content">
        <div class="carousel">
          <!-- carousel locator -->
          <input class="carousel-locator" id="slide-1" type="radio" name="carousel-radio" hidden="" checked="">
          <input class="carousel-locator" id="slide-2" type="radio" name="carousel-radio" hidden="">
          <input class="carousel-locator" id="slide-3" type="radio" name="carousel-radio" hidden="">
          <input class="carousel-locator" id="slide-4" type="radio" name="carousel-radio" hidden="">

          <!-- carousel container -->
          <div class="carousel-container">
            <!-- carousel item -->
            <figure class="carousel-item">
              <label class="item-prev btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-left"></i></label>
              <label class="item-next btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-right"></i></label>
              <%= image_tag('citrouille.jpg', :class => "img-responsive rounded") %>
            </figure>
            <figure class="carousel-item">
              <label class="item-prev btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-left"></i></label>
              <label class="item-next btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-right"></i></label>
              <%= image_tag('carrots.jpeg', :class => "img-responsive rounded") %>
            </figure>
            <figure class="carousel-item">
              <label class="item-prev btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-left"></i></label>
              <label class="item-next btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-right"></i></label>
              <%= image_tag('asparagus.jpg', :class => "img-responsive rounded") %>
            </figure>
            <figure class="carousel-item">
              <label class="item-prev btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-left"></i></label>
              <label class="item-next btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-right"></i></label>
              <%= image_tag('oranges.jpg', :class => "img-responsive rounded") %>
            </figure>
          </div>
          <!-- carousel navigation -->
          <div class="carousel-nav">
            <label class="nav-item text-hide c-hand" for="slide-1">1</label>
            <label class="nav-item text-hide c-hand" for="slide-2">2</label>
            <label class="nav-item text-hide c-hand" for="slide-3">3</label>
            <label class="nav-item text-hide c-hand" for="slide-4">4</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns p_info_2">
  <div class="column col-4">
    <i class="fas fa-globe-americas"></i>
  </div>
  <div class="column col-8 col-ml-auto">
    <h2><%= t('landing_page.info2_title') %></h2>
    <p>
      <%= t('landing_page.a_gesture1') %>
    </p>
    <p>
      <%= t('landing_page.a_gesture2') %>
    </p>
  </div>
</div>
<div class="container map_container">
  <div class="columns">
    <div class="column col-8">
      <h2><%= t('landing_page.map_info_title') %></h2>
      <p><%= t('landing_page.map_info_p') %></p>
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 search-bar">
      <div class="search search-address input-group">
        <input type="text" id="search-address" placeholder="<%= t('landing_page.address_search') %>" name="search-address">
        <button id="search-button" class="btn btn-primary input-group-btn btn-lg"><i class="fa fa-search"></i></button>
      </div>
      <button id="locate-me" class="btn btn-primary btn-lg search search-location" type="button"><%= t('landing_page.use_position') %></button>
    </div>
    <div class="column col-12 search-distance">
      <%= label_tag(:distance, t('garden.distance')) %>
      <%= number_field_tag(:distance, value = 20, in: 0..200, step: 5) %>
      <%= label_tag(:distance, t('garden.distance_unit')) %>
    </div>
    <div class="column col-12 search-markets">
      <%= label_tag(:markets, t('garden.search_markets')) %>
      <%= check_box_tag(:markets) %>
    </div>
    <div class="column col-12 map-contener">
      <div id="mapid"></div>
    </div>
  </div>
  <div class="my_gardens-container">
    <p>- <%= t('garden.or') %> -</p>
    <%= link_to t('garden.access_my_gardens'), mygardens_path(), class: "btn btn-primary" %><br>
    <%= link_to t('garden.add_new'), new_garden_path(), class: "btn btn-primary em_top" %>
  </div>
</div>
<div class="container communities_container">
  <div class="columns">
    <div class="column col-8 col-ml-auto">
      <h2><%= t('landing_page.communities_title') %></h2>
      <p><%= t('landing_page.a_community_matter1') %></p>
      <h6><%= t('landing_page.a_community_matter2') %></h6>
    </div>
  </div>
  <div class="columns">
    <% @communities.each do |community| %>
      <div class="column col-3">
        <div class="card">
          <div class="card-image">
            <%= image_tag('poivrons.jpg', class: 'img-responsive') %>
          </div>
          <div class="card-footer">
            <%= link_to t('landing_page.find_this_veggie'), community_path(community), class: 'btn btn-primary' %>
            <%= link_to t('communities.community_name',
                          name: community.variety.name,
                          community: Community.model_name.human.capitalize),
                        community_path(community), class: 'btn btn-link' %>
          </div>
          <div class="card-body">
            <%= community.variety.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(".form-autocomplete").autoComplete({
    source: function (inputValue, callback) {
      // Do something like fetch data with xhr
      let veggie_list = <%= @veggies.map { |veggie| veggie.name }.to_json.html_safe %>;
      let data = [];
      for (const e of veggie_list) {
        if (e.includes(inputValue)) {
          data.push(e)
        }
      }

      callback(data, null) // If error, you can use callback(null, error); . Error will passed as argument to error handler
    }
  });
</script>
