<div class="container garden_variety_create">
  <h2><%= t('garden.add_variety_to') %> "<%= @garden.name%>"</h2>
  <%= form_with model: @garden_variety, url:[@garden, @garden_variety] do |f| %>
    <div class="field">
      <%= collection_select("garden_variety","variety", @varieties, :id, :name, :prompt => t('garden_varieties.prompt_variety')) %>
    </div>
    <%= hidden_field_tag "garden_variety[garden]", @garden.id %>
    <div class="actions">
      <%= f.submit t('garden.submits.add_garden_variety'), class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="direct-back">
    <%= link_to t('garden.go_back'), garden_path(@garden), class: "btn" %>
  </div>
</div>
