<table style="width:100%">
  <h1>My gardens</h1>
  <tr>
    <th>Garden name</th>
    <th>Options</th>
  </tr>

  <% @gardens.each do |garden| %>
    <tr>
      <td><%= garden.name %></td>
      <td>
        <%= link_to 'More details', garden_path(garden) %><%= link_to 'Edit', edit_garden_path(garden) %>
        <%= link_to 'Delete', garden_path(garden), method: :delete, data: {confirm: t('confirm_before_delete')}%>
      </td>
    </tr>
  <% end %>
  <caption>List of all gardens of user <%= @gardens.first.user.first_name %> <%= @gardens.first.user.last_name %></caption>
</table>
