<script>
  const geo_not_supported_garden = "<%= t("landing_page.geo_not_supported") %>"
  const error_location_garden = "<%= t("landing_page.error_location") %>"
  const visit_garden_garden = "<%= t("garden.visit_garden") %>"
</script>
<div class="container map_container map_container-gardens">
  <div class="columns">
    <div class="column col-8">
      <h2><%= t('landing_page.map_info_title') %></h2>
      <p><%= t('landing_page.map_info_p') %></p>
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 search-bar">
      <div class="search search-address input-group">
        <input type="text" id="search-address" placeholder="<%= t('landing_page.address_search') %>" name="search-address">
        <button id="search-button-gardens" class="btn btn-primary input-group-btn btn-lg"><i class="fa fa-search"></i></button>
      </div>
      <button id="locate-me-gardens" class="btn btn-primary btn-lg search search-location" type="button"><%= t('landing_page.use_position') %></button>
    </div>
    <div class="column col-12 search-distance">
      <%= label_tag(:distance, t('garden.distance')) %>
      <%= number_field_tag(:distance, value = 20, in: 0..200, step: 5) %>
      <%= label_tag(:distance, t('garden.distance_unit')) %>
    </div>
    <div class="column col-12 search-markets">
      <%= label_tag(:markets, t('garden.search_markets')) %>
      <%= check_box_tag(:markets) %>
    </div>
    <div class="column col-12 map-contener">
      <div id="map_garden"></div>
    </div>
  </div>
  <div class="my_gardens-container">
    <p>- <%= t('garden.or') %> -</p>
    <%= link_to t('garden.access_my_gardens'), mygardens_path(), class:"btn btn-primary" %><br>
    <%= link_to t('garden.add_new'), new_garden_path(), class:"btn btn-primary  em_top" %>
  </div>
</div>
