<div class="container garden_creation">
  <h2><%= t('garden.add_new') %></h2>
  <%= form_with model:@garden, data: {'new-locations' => true} do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => 'required' %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :required => 'required', :rows => 5 %>
    </div>

    <%= f.fields_for :location do |l| %>
      <div class="field">
        <%= l.label :house_number %><br>
        <%= l.text_field :house_number, :required => 'required'%>
      </div>
      <div class="field">
        <%= l.label :road %><br>
        <%= l.text_field :road, :required => 'required' %>
      </div>
      <div class="field">
        <%= l.label :additional_informations %><br>
        <%= l.text_field :additional_informations %>
      </div>
      <div class="field">
        <%= l.label :city %><br>
        <%= l.text_field :city, :required => 'required' %>
      </div>
      <div class="field">
        <%= l.label :province %><br>
        <%= l.text_field :province %>
      </div>
      <div class="field">
        <%= l.label :country %><br>
        <%= l.text_field :country, :required => 'required' %>
      </div>
      <div class="field">
        <%= l.label :postal_code %><br>
        <%= l.text_field :postal_code %>
      </div>
    <% end %>
    <div class="actions">
        <%= f.submit t('garden.submits.add_garden'), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>

  <div class="modal" id="modal-addresses">
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-title h5"><%= t('garden.address_research_results') %></div>
        <p><%= t('garden.address_research_results_description') %></p>
      </div>
      <div class="modal-body">
        <div class="content" id="addresses-content">
          <!-- content here -->
        </div>
      </div>
      <div class="modal-footer">
        <button id="close-modal-addresses" class="btn"><%= t('garden.cancel') %></button>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-loading">
    <div class="modal-body">
      <div class="content loading loading-lg" id="addresses-content">
        <!-- content here -->
      </div>
    </div>
  </div>
