<%= form_for [@market.garden_variety.garden, @market] do |f| %>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.text_field :unit, list: "unitList" %>
    <datalist id="unitList">
      <option value="unit"></option>
      <option value="pound"></option>
      <option value="kilo"></option>
      <option value="bunch"></option>
    </datalist>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
