<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('app_title').titleize %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bd5c550147.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-dark">
    <%= yield %>
  </body>
</html>
